.login--wrapper {
    min-width: 500px;
    padding: 30px;
    display: block;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.login--input {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 30px;
}

.login--input:focus {
    border-color: #33212A;
}

.errorMessage {
    color: #5A1212;
    display: block;
    background-color: rgba(255, 0, 0, 0.1);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-radius: 6px;
}