.login-wrapper {
    border-color: #33212A;
    box-shadow: none;

    h3 {
        text-align: center;
        margin: 0;
        line-height: 1;
        padding-bottom: 20px;
    }
}

.login-inner {
    width: 500px;
    margin: auto;
    background-color: #f6f6f6;
    box-shadow: 0px 14px 80px rgba(0, 1, 13, 0.2);
    padding: 40px 55px 45px 55px;
}

.custom-control-label {
    font-weight: 400;
    margin-left: 5px;
}

.forgot-password,
.forgot-password a {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    color: #0b0b0b;
    margin: 0;

    a {
        color: #33212A;
    }
}
