.login-wrapper {
  h3 {
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
}

.login-inner {
  width: 100%;
  background-color: #f6f6f6;
  box-shadow: 0px 14px 80px rgba(0, 1, 13, 0.2);
  padding: 40px 55px 45px 55px;
}

.custom-control-label {
  font-weight: 400;
  margin-left: 5px;
}

.forgot-password,
.forgot-password a {
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
  margin: 0;

  a {
    color: #57467b;
  }
}

.register a {
  color: #57467b;
}

.login--button,
.register--button,
.recoverPassword--button,
.updatePassword--button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #7fb069;
  display: block;
  width: 100%;
}
