.modal-dark {
    background-color: #252625;
}

.modal-title-big {
    font-size: x-large;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.btn-standard {
    background-color: #508F62;
}

.btn-standard:hover {
    background-color: #3d6d4b;
}

.btn-cancel {
    background-color: #5A1212;
    margin-top: 10px;
}

.btn-cancel:hover {
    background-color: #490e0e;
}

.btn-standard, .btn-cancel {
    border: none;
}